{% extends "registration/base.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load static %} 
{%include 'navbar.html'%} 
{%block content%}

 <body style=" background:url('/static/Images/backcard.jpeg');">
<!--
<div class="container">
<div class="section" style="text-align: center; background-color: white; position: relative; top: 150px; border-radius: 50px;">
    <br>
    <h2 class="account-heading">{{user}}</h2>
    <img class="rounded-circle account-img" style="width: 150px; height: 100px;" src="{{user.profile_image.url}}">
    <p>BIO:{{user.bio}}</p>
    <p class="text-secondary">EMAIL:{{user.email}}</p> -->

    <!-- <a class="btn btn-sm btn-outline-secondary mr-3" data-toggle="modal" data-target="#edit"><strong>Edit Profile</strong></a> -->

    <!-- <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md ">
            <div class="modal-content"> -->
                <div class="container">
                    <div class="card" style="width: 33rem; background-color:whitesmoke;" >
                        <div class="card-body">
                            <div class="card-header">
                                <h3 style="color: black;">UPDATE YOUR PROFILE</h3>
                            </div>
                            <form action="" method="POST" enctype="multipart/form-data" style="text-align: center; color:black;">
                                {% csrf_token%}
                                {{ u_form|crispy}}
                                <br>
                                {{ p_form|crispy}}
                                <br>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-sm" style="background-color: seagreen;"> Update Profile</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            <!-- </div>
        </div>
    </div>   -->
    <!-- <div class="col-md-5">  <li class="list-inline-item">
        <a data-toggle="modal" data-target="#settings"><i class="fa fa-cog fa-2x"></i></a>
        </li></div>
    </div> -->
    <hr>
        

   
</div>
</div>

<!---modal class-->

<div class="modal fade" id="settings" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item text-center"><a href="/logout/">Log Out</a></li>
                    <li class="list-group-item text-center"><a data-dismiss="modal">Cancel</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>

{%endblock%}
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
  integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
  crossorigin="anonymous"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
  integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
  crossorigin="anonymous"
></script>
