{% extends 'base.html' %} {% load bootstrap4 %} {% block content %}
<div class="container" ><br><br>
    <div class="row">
        <div class="col-md-4">
            {% if form.errors %}
            <p class="small">Password or Username is incorrect</p>
            {% endif %}
            <div class="section">
                <h1 style='text-align:center;'><b>DONATE</b></h1>
                <div class="form-section">
<form action="" method="POST">
    {% csrf_token %} {% bootstrap_form form %}
    <div class="form-group">
        <input type="submit" class="btn btn-outline-info btn-sm" value="submit" />
    </div>
    <input type="hidden" name="next" value="{{next}}" />
</form>
</div>
            </div>
        </div>
</div>
{% endblock %}