nav{
    background-color: rgb(37, 54, 71);
}
.user{
    margin-left: 500px;
}
.card{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 5px 10px rgba(0, 0, 0, 0.24);
}

.btn-details{
   
        height: 50px;
        width: 100px;
        margin: 0 40px 0 16px;
        box-sizing: border-box;
        border: transparent;
        border-radius: 60px;
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: white;
        background:seagreen;
        cursor: pointer;
        outline: none;
}
      
.btn-details:hover {
        background-color: springgreen;
        color: black;
}


/* body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #111;
  background-repeat: no-repeat;
} */

.signupSection {
  background: rgb(37, 54, 71);
  background-repeat: no-repeat;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 93%;
  text-align: center;
  display: flex;
  color: white;
  box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5);
  text-align: center;
}

.info {
  width: 45%;
  background: linear-gradient(#fdf1ec,rgb(37, 54, 71));
  padding: 30px 0;
  border-right: 5px solid rgba(30, 30, 30, .8);
  background-repeat: no-repeat;
  background-size: 440%;
  color: black;
  
  
}
h2 {
    padding-top: 30px;
    font-weight: 300;
  }
  p {
    font-size: 18px;
  }
  .icon {
    font-size: 8em;
    padding: 20px 0;
    color: rgba(10, 180, 180, 1);
  }

.signupForm {
  width: 70%;
  padding: 30px 0;
  background: rgba(20, 40, 40, .8);
  transition: .2s;

}
h2 {
    font-weight: 300;
  }

.inputFields {
  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  width: 250px;
  border: 1px solid rgba(10, 180, 180, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, .2);
  color: white;
  outline: none;
}

.noBullet {
  list-style-type: none;
  padding: 0;
  color: white;
}

#join-btn {
  border: 1px solid rgba(10, 180, 180, 1);
  background: seagreen;
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: .4s;
  border-radius: 50px;

}
#join-btn:hover {
    background: rgba(20, 20, 20, .8);
    padding: 10px 80px;
  }
  .form{
      position: relative;
      left: 50px;
  }
  .create{
    border-radius: 50px;
    background-color: seagreen;
  }

  .icons{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    height: 100px;
    position: relative;
    left: 800px;
    
}
.social{
  color: white;
}
.social:hover{
  color: cornflowerblue;
}

input[type=text] {
  background-color:transparent;
  border: none;
  border-bottom: 2px solid #0DB8DE;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  margin-bottom: 20px;
  padding-left: 0px;
  width: 400px;
  font-size: 20px;
  
  
  
}
input[type=email] {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #0DB8DE;
  width: 450px;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  margin-bottom: 20px;
  padding-left: 0px;
  font-size: 20px;
}
.form-group {
  margin-bottom: 40px;
  outline: 0px;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0;
  color: white;
  
}

.btn-sm{
  width: 400px;
  height: 50px;
}
.form-control[type=text]{
  color: white;
}



.padding {
  padding: 3rem !important
}

.user-card-full {
  overflow: hidden
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px
}

.m-r-0 {
  margin-right: 0px
}

.m-l-0 {
  margin-left: 0px
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px
}

.bg-c-lite-green {
  background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
  background: linear-gradient(to right, #ee5a6f, #f29263)
}

.user-profile {
  padding: 20px 0
}

.card-block {
  padding: 1.25rem
}

.m-b-25 {
  margin-bottom: 25px
}

.img-radius {
  border-radius: 5px
}

h6 {
  font-size: 14px
}

.card .card-block p {
  line-height: 25px
}

@media only screen and (min-width: 1400px) {
  p {
      font-size: 14px
  }
}

.card-block {
  padding: 1.25rem
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
  margin-bottom: 20px
}

.p-b-5 {
  padding-bottom: 5px !important
}

.card .card-block p {
  line-height: 25px
}

.m-b-10 {
  margin-bottom: 10px
}

.text-muted {
  color: #919aa3 !important
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
  font-weight: 600
}

.m-b-20 {
  margin-bottom: 20px
}

.m-t-40 {
  margin-top: 20px
}

.p-b-5 {
  padding-bottom: 5px !important
}

.m-b-10 {
  margin-bottom: 10px
}

.m-t-40 {
  margin-top: 20px
}

.user-card-full .social-link li {
  display: inline-block
}

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}