nav{
    background-color: rgb(37, 54, 71);
}
.user{
    margin-left: 500px;
}
.card{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 5px 10px rgba(0, 0, 0, 0.24);
}
body{
    background-image: url('/static/Images/back2.jpg');
}
.btn-details{
   
        height: 50px;
        width: 100px;
        margin: 0 40px 0 16px;
        box-sizing: border-box;
        border: transparent;
        border-radius: 60px;
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: white;
        background:seagreen;
        cursor: pointer;
        outline: none;
}
      
.btn-details {
        background-color: springgreen;
        color: black;
      }