{% extends 'ngo/base.html' %}
{% block content %}
<div
  class="hero-wrap"
  style="
    background-image: url('https://images.unsplash.com/photo-1509023464722-18d996393ca8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80');
  "
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="container">
    <div
      class="
        row
        no-gutters
        slider-text
        align-items-center
        justify-content-center
      "
      data-scrollax-parent="true"
    >
      <div
        class="col-md-7 ftco-animate text-center"
        data-scrollax=" properties: { translateY: '70%' }"
      >
        <h1
          class="mb-4"
          data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"
        >
          Giving is not just about making a donation. It is about making a
          difference.
        </h1>
        <!-- <p class="mb-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Created by <a href="#">Colorlib.com</a></p> -->

        <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="{% url 'signup' %}" class="btn btn-white btn-outline-white px-4 py-3 ">Join Today</a></p>
      </div>
    </div>
  </div>
</div>

<!-- header cards -->
<section class="ftco-counter ftco-intro" id="section-counter">
  <div class="container">
    <div class="row no-gutters">
      <!-- <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
          <div class="block-18 color-1 align-items-stretch">
            <div class="text">
              <span>Served Over</span>
              <strong class="number" data-number="143">0</strong>
              <span>Children in 190 countries in the world</span>
            </div>
          </div>
        </div> -->
      <div
        class="col-md d-flex justify-content-center counter-wrap ftco-animate"
      >
        <div class="block-18 color-3 align-items-stretch">
          <div class="text">
            <h3 class="mb-4">Register as a donor</h3>
            <p>
              “We rise by lifting others.” <br />
              ― Robert Ingersoll
            </p>
            <p>
              <a
                href="{%url 'donor_signup'%}"
                class="btn btn-white px-3 py-2 mt-2"
                >Donate</a
              >
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-md d-flex justify-content-center counter-wrap ftco-animate"
      >
        <div class="block-18 color-2 align-items-stretch">
          <div class="text">
            <h3 class="mb-4">For Organizations</h3>
            <p>
              “Always receive without forgetting.”<br />
              ― Brian Tracy
            </p>
            <p>
              <a
                href="{%url 'ngo_signup'%}"
                class="btn btn-white px-3 py-2 mt-2"
                >NGO</a
              >
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-md d-flex justify-content-center counter-wrap ftco-animate"
      >
        <div class="block-18 color-3 align-items-stretch">
          <div class="text">
            <h3 class="mb-4">Staff Portal</h3>
            <p>Only authorised members</p>
            <p>
              <a
                href="{%url 'admin_signup'%}"
                class="btn btn-white px-3 py-2 mt-2"
                >Staff</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- header cards end-->
<!-- NGO and donor description -->
<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 d-flex services p-3 py-4 d-block">
          <div class="icon d-flex mb-3">
            <span class="flaticon-donation-1"></span>
          </div>
          <div class="media-body pl-4">
            <h3 class="heading">Make Donation</h3>
            <p>
              “At the end it’s not about what you have or even what you’ve
              accomplished. It’s about who you’ve lifted up, who you’ve made
              better. It’s about what you’ve given back.” <br />
              <br /><br />
              ― Denzel Washington
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 d-flex services p-3 py-4 d-block">
          <div class="icon d-flex mb-3">
            <span class="flaticon-charity"></span>
          </div>
          <div class="media-body pl-4">
            <h3 class="heading">Join as an NGO</h3>
            <p>
              “Until we can receive with an open heart, we're never really
              giving with an open heart. When we attach judgment to receiving
              help, we knowingly or unknowingly attach judgment to giving
              help.”<br />
              <br />
              ― Brené Brown
            </p>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-4 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 d-flex services p-3 py-4 d-block">
          <div class="icon d-flex mb-3"><span class="flaticon-donation"></span></div>
          <div class="media-body pl-4">
            <h3 class="heading">Sponsorship</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>    
      </div> -->
    </div>
  </div>
</section>
<!-- NGO and donor description end -->

<!-- Previous requests reel -->

<section class="ftco-section">
  <div class="container">
    <div class="row">
      {% for request in queryset %}
      <div class="col-md-4 ftco-animate">
        <div class="cause-entry">
          <a
            href="#"
            class="img"
            style="
              background-image: url(https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg);
            "
          ></a>
          <div class="text p-3 p-md-4">
            <h3><a href="#">{{ request.Organisation }}</a></h3>
            <p>{{request.summary}}</p>
            <span class="donation-time mb-3 d-block">Last donation 1w ago</span>
            <div class="progress custom-progress-success">
              <div
                class="progress-bar bg-primary"
                role="progressbar"
                style="width: 50%"
                aria-valuenow="28"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
            <span class="fund-raised d-block">$12,000 raised of $30,000</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% empty %}
  <p>No requests yet</p>
  {% endfor %}

  <!-- Previous requests reel end-->

  <!-- Donations Made -->

  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section ftco-animate text-center">
          <h2 class="mb-4">Latest Donations</h2>
          <p>
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts.
          </p>
        </div>
      </div>
      <div class="row">
        {%for donation in donations%}
        <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
          <div class="staff">
            <div class="d-flex mb-4">
              <div
                class="img"
                style="background-image: url(https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg)"
              ></div>
              <div class="info ml-4">
                <h3><a href="teacher-single.html">{{donation.donor}}</a></h3>
                <span class="position">Donated Just now</span>
                <div class="text">
                  <p>
                    Donated <span>{{donation.amount_donated}}</span> for
                    <a href="#">Children Needs Food</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
        <li style="color: white">No donations yet.</li>

        <br />

        {% endfor %}
      </div>
    </div>
  </section>

  <!-- Donations Made -->
</section>
{% endblock %}