<!-- NEW NAV -->
<nav class="navbar navbar-expand-lg  ftco_navbar  ftco-navbar" id="ftco-navbar" style="background-color:lightseagreen;">
  <div class="container">
    {%if not user.is_authenticated%}
    <a class="navbar-brand" href="{%url 'homepage'%}" style="color: black;">USAIDIZI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>
    {%endif%}

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
       
        
        {%if user.is_ngo%}
        <li class="nav-item"><a href="{%url 'lists'%}" class="nav-link">Requests List</a></li>

        <li class="nav-item"><a href="{%url 'create-cat'%}" class="nav-link">Add category</a></li>
        
        
        <li class="nav-item"><a href="{%url 'ngo-profile'%}" class="nav-link">Profile</a></li>

        <li class="nav-item"><a href="{%url 'logout'%}" class="nav-link">Logout</a></li>
        
      </ul>  
        {%elif user.is_donor%}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="{%url 'home'%}" class="nav-link">Requests</a></li>
        <li class="nav-item"><a href="{%url 'donations'%}" class="nav-link">Donations Made</a></li>
        <li class="nav-item"><a href="{%url 'donor-profile'%}" class="nav-link">Profile</a></li>
        <li class="nav-item"><a href="{%url 'logout'%}" class="nav-link">Logout</a></li>

      </ul>
      {% elif user.is_admin %}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="{%url 'approved'%}" class="nav-link">Approved</a></li>
        <li class="nav-item"><a href="{%url 'notapproved'%}" class="nav-link">Not Yet Approved</a></li>
        <li class="nav-item"><a href="{%url 'queries'%}" class="nav-link">All Requests</a></li>
        <li class="nav-item"><a href="{%url 'admin-profile'%}" class="nav-link">Profile</a></li>
        <li class="nav-item"><a href="{%url 'logout'%}" class="nav-link">Logout</a></li>
      </ul>

      {%else%}
      <li class="nav-item active"><a href="{%url 'homepage'%}" class="nav-link">Home</a></li>
      {% endif %}

    </div>
  </div>
   <style>
          .nav-link{
            color: black;
          }
        </style>

    </div>
  </div>
</nav>
  <!-- END nav -->
