<!--Navbar-->
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand text-white" href="#"><h3><strong>USAIDIZI</strong></h3></a>
  
<!--SEARCH-->
<div class="form-inline mt-2 mt-md-0 navbar-right">
  <form action="{% url 'search' %}" class="navbar-form" role="categorys">
      <div class="input-group">
          <input type="test form-control mr-sm-2" class="form-control" placeholder="Search by Category" name="name">
          <div class="input-group-btn mr-lg-2">
              <button class="btn  btn-outline-info  my-9 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i>
              </button>
          </div>
      </div>
  </form>
</div>


  <div class="icons">
      <a class="nav-item nav-link ml-auto social" href="https://github.com/WambiruL/online-charity-management.git" target="_blank"><i class="fab fa-github"></i></a>
      <a class="nav-item nav-link ml-auto social" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      <a class="nav-item nav-link ml-auto social" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
      <a class="nav-item nav-link ml-auto social" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
  </div>

</nav>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

