{%extends 'ngo/base.html'%} 
{% block content %}
<div class="container-fluid">

  <div class="container-fluid" style="height: 50px;">
    {% if categorys%}
      <h2 style="color:black;" >Found {{ categorys|length }} of searched category {{message}}</h2><br>
    {% else %}
      <h2> Found 0 categorys for the search term {{message}}</h2>
    {% endif %}

  </div><br>
  <div class="row">
  
    <!-- Grid column -->
    
    
        {% for category in categorys %}
       
        <div class="col-md-4">

            <div class="card" style="width: 300px; height: 600px;">
                <div class="card-header" style="background-color: white;">
                    <h4 class="font-weight-bold mb-3" style="color: black;"> {{ category.Organisation }}</h4>

            
                </div>

                <div class="card-body">

                    <div class="px-3 pt-3 mx-1 mt-1 pb-0">
                        <div class="view overlay rounded z-depth-1">
                            <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid" alt="Sample project image">
                            <a><div class="mask rgba-white-slight"></div></a>
                        </div>
                        <p class="text-muted" style="height: 100px;">{{category.summary}}</p>
                        <a href="{%url 'detail' category.pk%}"><button class="btn" style="background-color: seagreen; border-radius: 50px; color: white; position: relative; top: 120px;left: 70px;"> Details</button></a>
                    </div>
                </div>
                <br>
            </div>
            <br><br>
        </div>
      
        {% endfor %}
      
      

  
    </div>  

</div>
</div>
{% endblock %}