{% extends "ngo/base.html" %}
{% load bootstrap4 %}
{%load static%}

{% block content %}

<body>
  <div class="wrapper">
    <div class="product-img">
      <img src="{{object.project_images.url}}" height="520" width="327">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>{{object.name }}</h1>
        <p>{{object.pitch  }} </p>
      </div>
      <div class="product-price-btn">
        <p>COUNTRY:{{object.country }}</p>
        <h6 type="button">AMOUNT NEEDED:{{object.amount_needed }}</h6>
        <a href="{%url 'request-update' object.id%}"><button class="btn btn-success">UPDATE REQUEST</button></a>

        <a href="{%url 'request-delete' object.id%}"><button class="btn btn-success">DELETE REQUEST</button></a>
      </div>
      

    </div>
  </div>

</body>

</html>

{% endblock %}

