{% extends "ngo/base.html" %}

{%load static%}

{% block content %}
{%if user.is_ngo%}
<div class="container my-5 py-5 z-depth-1">
    <div class="card" style="color: rgb(37, 54, 71);"> 
      <br>
    <!--Section: Content-->
    <section class="text-center px-md-5 mx-md-5 dark-grey-text">
        <div class="row mb-5">
            <div class="col-md-4 mx-auto">
                <div class="view mb-4 pb-2">
                    <img src="https://mdbootstrap.com/img/illustrations/undraw_connected_world_wuay.svg" class="img-fluid" alt="smaple image">
                </div>
            </div>
        </div>
        <h3 class="font-weight-bold mb-4 pb-2">WELCOME TO USAIDIZI</h3>
        <p class="text-center mx-auto mb-4 pb-2">Have a project that needs to be funded? Make your request here!</p>
      
        <a href="{%url 'create-request'%}"><button type="button" class="btn btn-rounded create" style="border-radius: 50px; background-color: seagreen;color: white;">Create Your Request</button></a>
  
    </section>
    <br>
    </div>
  <hr>
    <!--Section: Content-->
  
    
</div>
<div class="container my-5">
    <!-- Section: Block Content -->
    <div class="dark-grey-text text-center">
        <h3 class="font-weight-bold mb-4 pb-2" style="color: black;text-align: center;">REQUESTS MADE</h3>
        

        <!-- Grid row -->
        <div class="row">
  
            <!-- Grid column -->
            
            <div class="col-md-1"></div>
                {% for request in queryset %}
                <div class="col-md-5">
                    <div class="card" style="height: 700px;">
                        <div class="card-header" style="background-color: white;">
                            <h4 class="font-weight-bold mb-3" style="color: black;"> {{ request.Organisation }}</h4>

                    
                        </div>

                        <div class="card-body">

                            <div class="px-3 pt-3 mx-1 mt-1 pb-0">
                                <div class="view overlay rounded z-depth-1">
                                    <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid" alt="Sample project image">
                                    <a><div class="mask rgba-white-slight"></div></a>
                                </div><br>
                                <p class="text-muted" style="height: 100px;">{{request.summary}}</p>
                                <a href="{%url 'detail' request.pk%}"><button class="btn" style="background-color: seagreen; border-radius: 50px; color: white; position: relative; top:100px;"> Details</button></a>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                {% empty %}
                <li>No requests yet.</li> 
                {% endfor %}
              
  
          
            </div>  

        </div>
        
    </div>
       

</div>
{%elif user.is_donor%}
<div class="container my-5">
    <!-- Section: Block Content -->
    <div class="dark-grey-text text-center">
        <h3 class="font-weight-bold mb-4 pb-2" style="color: black;text-align: center;">REQUESTS MADE</h3>
        

        <!-- Grid row -->
        <div class="row">
  
            <!-- Grid column -->
            
            <div class="col-md-1"></div>
                {% for request in queryset %}
                <div class="col-md-5">
                    <div class="card" style="height: 700px;">
                        <div class="card-header" style="background-color: white;">
                            <h4 class="font-weight-bold mb-3" style="color: black;"> {{ request.Organisation }}</h4>

                    
                        </div>

                        <div class="card-body">

                            <div class="px-3 pt-3 mx-1 mt-1 pb-0">
                                <div class="view overlay rounded z-depth-1">
                                    <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid" alt="Sample project image">
                                    <a><div class="mask rgba-white-slight"></div></a>
                                </div>
                                <p class="text-muted" style="height: 100px;">{{request.summary}}</p>
                                <a href="{%url 'detail' request.pk%}"><button class="btn" style="background-color: seagreen; border-radius: 50px; color: white;position: relative; top:100px;"> Details</button></a>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                {% empty %}
                <li>No requests yet.</li> 
                {% endfor %}
              
  
          
            </div>  

        </div>
        
    </div>
       

</div>
{%endif%}






<!-- <div class="container">
    <div class="site-content">
        <div class="posts">
            <div class="post-content">
                <div class="post-image">
                    <div class="">
                        <img src="" class="img"
                         alt="blog1">
                    </div>
                    <div class="post-info flex-row">
                        <span>
                            <i class="fas fa-user text-gray"></i>&nbsp;&nbsp;
                            Admin
                        </span>
                        <span>
                            <i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;
                            January 14,2019
                        </span>
                        <span>2 comments</span>
                    </div>
                </div>
                <div class="post-title">
                    <a href="#">Want to Learn more about pigs</a>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad pariatur magnam
                        expedita recusandae, dicta quis accusantium nihil, nesciunt quam libero
                        similique iusto unde a qui illo, deleniti impedit. Id totam reiciendis dolores
                        soluta deserunt
                        dignissimos, dolore velit doloremque odit at?
                    </p>
                    <button class="btn post-btn">
                        
                        Read More &nbsp; <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </div>
            <hr>
            </div>
            </div>
            </div> -->

{% endblock %}

