{% extends "ngo/base.html" %}

{%load static%}

{% block content %}


{%if user.is_ngo%}

<div
  class="hero-wrap"
  style="
    background-image: url('/static/Images/larm-rmah-AEaTUnvneik-unsplash\ \(1\).jpg');
    background-repeat:no-repeat;
          background-size:cover;
          background-position: center center;
          min-height:400px;
          filter: grayscale(100%);
          height: 500px;"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="container">
    <div
      class="
        row
        no-gutters
        slider-text
        align-items-center
        justify-content-center
      "
      data-scrollax-parent="true"
      
      
    >
      <div
        class="col-md-7 ftco-animate text-center"
        data-scrollax=" properties: { translateY: '70%' }"
        style="position: relative; bottom: 100px;"
      
      >
        <h1
          class="mb-2"
          data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"
          style="background-color: black;"
        >
          Create a fund request for your organisation
        </h1>
        <!-- <p class="mb-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Created by <a href="#">Colorlib.com</a></p> -->
<br>
        <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="{% url 'create-request' %}" class="btn btn-white btn-outline-white px-4 py-3 " style="background-color: white;color: black;">Make a Request</a></p>
      </div>
    </div>
  </div>
</div>
<section class="ftco-section">
  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  style="list-style-type: none; height: 70px; width: 400px; font-size: 20px; text-align: center; position: relative; left: 500px;" {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}


    <h3 class="font-weight-bold " style="color: black;text-align: center;">REQUESTS MADE</h3>

    <div class="container">
        
      <div class="row d-flex">

        {% for request in queryset %}
        
        <div class="col-md-4 d-flex ftco-animate">
          <div class="blog-entry align-self-stretch">
            <a href="#" class="block-20"><img src="{{request.images.url}}" style="width:600px;" alt="project_image"></a>
                
            </a>
            <div class="text p-4 d-block">
                
              <h3 class="heading mt-3"><a href="{%url 'detail' request.pk%}">{{ request.Organisation }}</a></h3>
              <p>{{request.pitch|truncatechars:150 | safe}}<a href="{%url 'detail' request.pk%}" style="color: lightseagreen;">Read more</a></p>
              <a href="{%url 'total_donations' request.pk%}"><input type="submit" id="join-btn" name="join" alt="Join" value="DONATIONS" class="btn btn-sm btn-outline-info mr-3" style="position: relative; left: 70px;top: 10px;"></a>
              
            </div>
          </div>
        </div>
        {% empty %}
        <li>No requests yet.</li> 
        {% endfor %}
      </div>
    </div>


</section>

{%elif user.is_donor or user.is_admin%}
<div
  class="hero-wrap"
  style="
    background-image: url('/static/Images/abigail-keenan-_h_weGa3eGo-unsplash\ \(1\).jpg');
    background-repeat:no-repeat;
          background-size:cover;
          background-position: center center;
          min-height:200px;
          filter: grayscale(100%);"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="container">
    <div
      class="
        row
        no-gutters
        slider-text
        align-items-center
        justify-content-center
      "
      data-scrollax-parent="true"
    >
      <div
        class="col-md-7 ftco-animate text-center"
        data-scrollax=" properties: { translateY: '70%' }"
        style="background-color: black;"
      >
        <h1
          class="mb-4"
          data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"
         
        >
          WELCOME TO USAIDIZI<br><p>Where giving is about making a difference</p>
          {%if user.is_donor%}
          <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="{% url 'home' %}" class="btn btn-white btn-outline-white px-4 py-3 " style="background-color: white;color: black;">View Donation Requests</a></p>
          {%endif%}
          {%if user.is_admin%}
          <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="{% url 'queries' %}" class="btn btn-white btn-outline-white px-4 py-3 " style="background-color: white;color: black;">View All Requests</a></p>
          {%endif%}

        </h1>
        <!-- <p class="mb-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Created by <a href="#">Colorlib.com</a></p> -->

      </div>
    </div>
  </div>
</div>

{%endif%}

</section>




{% endblock %}