{% extends "ngo/base.html" %}

{%load static%}

{% block content %}
<section class="ftco-section">
    <h3 class="font-weight-bold " style="color: black;text-align: center;">{{category.name|upper}} RELATED REQUESTS</h3>

    <div class="container">
        
      <div class="row d-flex">

        {% for request in requests %}

        <div class="col-md-4 d-flex ftco-animate" style="width: 500px;">
            <div class="blog-entry align-self-stretch">
            <a href="{%url 'detail' request.pk%}" class="block-20"><img src="{{request.images.url}}"></a>
            </a>
            <div class="text p-4 d-block">
                <div class="meta mb-3">
                <!-- <div><a href="#">Sept 10, 2018</a></div> -->
                <!-- <div><a href="#">Approved: {{request.is_approved}}</a></div> -->
              </div>
              <h3 class="heading mt-3"><a href="{%url 'detail' request.pk%}">{{ request.Organisation }}</a></h3>
              <p>{{request.pitch|truncatechars:150 | safe}}<a href="{%url 'detail' request.pk%}" class="btn btn-sm btn-outline-info mr-3">Read more...</a></p>
            </div>
          </div>
        </div>
        {% empty %}
        <li>No requests yet.</li> 
        {% endfor %}
      </div>
    </div>
</section>
{%endblock%}