{% extends "registration/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

<body style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
 url('/static/Images/nischal-masand-0606MKTpyM8-unsplash.jpg');">
    <!-- header cards -->
<div class="container" >
    <section class="ftco-counter ftco-intro" id="section-counter">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container">
          <div class="row no-gutters"  style="position:relative; top:100px">
            <!-- <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-1 align-items-stretch">
                  <div class="text">
                    <span>Served Over</span>
                    <strong class="number" data-number="143">0</strong>
                    <span>Children in 190 countries in the world</span>
                  </div>
                </div>
              </div> -->
            <div
              class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate" 
             
            >
              <div class="block-18 color-3 align-items-stretch" style="background: lightseagreen;">
                <div class="text">
                  <h3 class="mb-4">Register as a donor</h3>
                  <p>
                    "We rise by lifting others." <br />
                    ― Robert Ingersoll
                  </p>
                  <p>
                    <a
                      href="accounts/login"
                      class="btn btn-white px-3 py-2 mt-2"
                      >Donate</a
                    >
                  </p>
                </div>
              </div>
            </div>
            <div
              class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate"
            >
              <div class="block-18 color-2 align-items-stretch" style="background: lightskyblue;">
                <div class="text">
                  <h3 class="mb-4">For Organizations</h3>
                  <p>
                    "Always receive without forgetting."<br />
                    ― Brian Tracy
                  </p>
                  <p>
                    <a
                      href="accounts/login"
                      class="btn btn-white px-3 py-2 mt-2"
                      >NGO</a
                    >
                  </p>
                </div>
              </div>
            </div>
            <div
              class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate"
            >
              <div class="block-18 color-3 align-items-stretch" style="background: lightseagreen;">
                <div class="text">
                  <h3 class="mb-4">Staff Portal</h3>
                  <p>Only authorised members</p>
                  <p>
                    <a
                      href="accounts/login"
                      class="btn btn-white px-3 py-2 mt-2"
                      >Staff</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
      <!-- header cards end-->
</body>



{%endblock%}