{% extends "ngo/base.html" %}
{%load static%}


<p></p>

<p></p>


<br>



{% block content %}


<div class="container my-5">

    <!-- Section: Block Content -->
    <section class="dark-grey-text text-center">
        <h3 class="font-weight-bold mb-4 pb-2" style="color: black;text-align: center;">DONATIONS YOU HAVE MADE</h3>
        

        <!-- Grid row -->
        <div class="row">
  
            <!-- Grid column -->
            
            
            {%for donation in donations%}
                <div class="col-md-4">
                <div class="card">
                    <div class="card-header" style="background-color: white;">
                        <h4 class="font-weight-bold mb-3" style="color: black;"> <p>ORGANISATION:{{donation.receipient}}</p></h4>

                    
                    </div>

                    <div class="card-body">

                    <div class="px-3 pt-3 mx-1 mt-1 pb-0">
                        
                       
                        <p style="font-weight: bolder;">AMOUNT DONATED:{{donation.donation_amount}}</p>
                        <p>DESCRIPTION:{{donation.description}}</p>
                        <div class="card-footer">
                        <p class="text-muted">Donated on <strong>{{donation.donation_time |date:"F d,Y"}}</strong></p>
                        </div>
                        
                    
                    </div>
                    </div>
                    <br><br>
                </div>
            </div>
                    {% empty %}
                    <li>No Donations made</li>  
                
                <br>
              
                {% endfor %}

               
                {{balance}}
               
               
                <br>
              
  
          
        </div>  
        
    </section>
       

</div>
{%endblock%}
