{% extends "ngo/base.html" %}

{%load static%}

{% block content %}


<div
  class="hero-wrap"
  style="
    background-image: url('/static/Images/tim-marshall-cAtzHUz7Z8g-unsplash\ \(1\).jpg');
    background-repeat:no-repeat;
          background-size:cover;
          background-position: center center;
          min-height:200px;  filter: grayscale(100%);
          height: 500px;"

  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="container">
    <div
      class="
        row
        no-gutters
        slider-text
        align-items-center
        justify-content-center
      "
      data-scrollax-parent="true"
    >
      <div
        class="col-md-7 ftco-animate text-center"
        data-scrollax=" properties: { translateY: '70%' }"
        style="position: relative; bottom: 100px; background-color: black;"
      >
        <h1
          class="mb-4"
          data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"
        >
          Have a view of the some of the causes put up for funding
        </h1>
        <!-- <p class="mb-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Created by <a href="#">Colorlib.com</a></p> -->

      </div>
    </div>
  </div>
</div>

<section class="ftco-section" style="position: relative;bottom: 100px;">

  <div class="container my-5">
      <!-- Section: Block Content -->
      <div class="dark-grey-text text-center">
          <h3 class="font-weight-bold mb-4 pb-2" style="color: black;text-align: center;">BROWSE BY CATEGORY</h3>
          
          {% for category in categories %}
          <p class='btn btn-info btn-sm' onclick="window.location='/single_request/{{category.id}}'">{{category.name }}</p>
          
     
              {% endfor %}
  
      </div>
          
    </div>
    <h3 class="font-weight-bold " style="color: black;text-align: center;">REQUESTS MADE</h3>

    <div class="container">
        
      <div class="row d-flex">

        {% for request in requests %}

        <div class="col-md-4 d-flex ftco-animate" style="width: 500px;">
            <div class="blog-entry align-self-stretch">
            <a href="{%url 'detail' request.pk%}" class="block-20"><img src="{{request.images.url}}"></a>
            </a>
            <div class="text p-4 d-block">
                <div class="meta mb-3">
                <!-- <div><a href="#">Sept 10, 2018</a></div> -->
                <!-- <div><a href="#">Approved: {{request.is_approved}}</a></div> -->
              </div>
              <h3 class="heading mt-3"><a href="{%url 'detail' request.pk%}">{{ request.Organisation }}</a></h3>
              <p>{{request.pitch|truncatechars:150 | safe}}<a href="{%url 'detail' request.pk%}" class="btn btn-sm btn-outline-info mr-3">Read more...</a></p>
            </div>
          </div>
        </div>
        {% empty %}
        <li>No requests yet.</li> 
        {% endfor %}
      </div>
    </div>

    
         
  
  
  

</section>




{% endblock %}