{% extends "ngo/base.html" %}

{%load static%}
{%load bootstrap4%}
{%load crispy_forms_tags%}

{% block content %}
<section class="ftco-section">
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li  style="list-style-type: none; height: 70px; width: 400px; font-size: 20px; text-align: center; position: relative; left: 500px;" {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
      {% endfor %}
  </ul>
  {% endif %}

    <h3 class="font-weight-bold " style="color: black;text-align: center;">REQUESTS MADE</h3>

    <div class="container">
        
      <div class="row d-flex">

        {% for request in queryset %}

        <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
            <a href="{%url 'admindetail' request.pk%}" class="block-20"><img src="{{request.images.url}}" style="width:600px;"></a>
            </a>
            <div class="text p-4 d-block">
                <div class="meta mb-3">
                <!-- <div><a href="#">Sept 10, 2018</a></div> -->
                <div><a href="#">Approved: {{request.is_approved}}</a></div>
                
              </div>
              
              <h3 class="heading mt-3"><a href="{%url 'admindetail' request.pk%}">{{ request.Organisation }}</a></h3>
              
              <p>{{request.pitch|truncatechars:150 | safe}}<a href="{%url 'admindetail' request.pk%}" class="btn btn-sm btn-outline-info mr-3">Read more...</a></p>
             
            </div>
          </div>
        </div>
        {% empty %}
        <li>No requests yet.</li> 
        {% endfor %}
      </div>
    </div>


</section>


{%endblock%}